@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
:root {
    --main-bg-color: white;
    --secondary-color: #c7688d;
    --card-color: rgb(224, 218, 218);
    --font-family: 'Playfair Display', serif;
    --font-title-color: black;
    --font-secondary: 'PT Sans', sans-serif;
    --removed: #ad9f9f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
}

h1 {
    padding-top: 1rem;
    color: var(--font-title-color);
    font-family: var(--font-family);
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
}

main {
    margin-bottom: 1.2rem;
}

h6,
.config {
    font-family: var(--font-secondary);
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 10px;
}

.config {
    margin: 20px;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--secondary-color), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.moves,
.fas:hover {
    color: var(--secondary-color);
}

.fas {
    cursor: pointer;
}

.square {
    background-color: #c26c8d;
    padding: 20px;
    margin: auto;
    width: 50%;
    border-radius: 20px;
}

.cards {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card.girar {
    transform: rotateY(180deg);
}

.card.removed .card-front {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-color: var(--removed);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: var(--card-color);
    position: absolute;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    transform: scale(1);
    backface-visibility: hidden;
    transition: background-color .2s;
}

.card-front {
    padding: 5px;
}

.card-front {
    transform: rotateY(180deg);
}

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 25%;
    top: 35%;
    width: 50%;
    height: 30%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../assets/background-modal.png');
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.fechar {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}

.conteudo {
    font-size: -webkit-xxx-large;
    color: white;
    text-shadow: 3px 2px 2px black;
    text-align: center;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: 800;
}

.text {
    padding-top: 3rem;
}